body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(#2a00b7, #42006c); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for chat */
.app{
  /* background: linear-gradient(#2a00b7, #42006c);  */
  display: flex;
  color: #fff;
}

.side-bar{
  
  background-color: #eaeaea;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  
  border: solid 1px rgba(79, 76, 76, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.history{
  padding: 10px;
  margin: 12px;
  height: 100%;
  list-style-type: none;
}

.history li{
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

nav{
  color: #444654;
  border-top: solid 2px rgba(79, 76, 76, 0.5);

  text-align: center;
}

.main{
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
} 

.info{
  font-size: 11px;
  padding: 11px;

}

.bottom-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  position: relative;
  width: 100%;
  max-width: 650px;


}

input{
  width: 100%;
  border: none;
  font-size: 20px;
  background-color: rgba(255,255,255,0.5);
  padding: 12px 15px;
  border-radius: 5px;
}

input:focus{
  outline: none;
}

#submit{
  position: absolute;
  bottom: 15px;
  right: 0;
  cursor: pointer;
}

.feed{
  overflow: scroll;
  width: 100%;
  padding: 0;
}

.feed li{
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: left;
}

.feed p.role{
  min-width: 100px;
}